<div class="container  about_page_card" id="thumbnail">
  
  <div class="cardContent">
    <div class="cardText"></div>
    <h1 class="text-center">About Page</h1>
    <hr>
    <p>We are DevMatch. Our company focuses on creating an exclusive community 
    developers and entrepreneurs to meet. Lorem ipsum dolor sit amet,
    consectetur adipisicing elit. Illo ipsam, sunt ea voluptates!
    Aspernatur eaque harum fugiat itaque officiis nobis explicabo numquam,
    expedita quisquam suscipit necessitatibus perferendis a exercitationem tempora!
    </p>
  </div>
</div>