<div class="container-fluid text-center">
  <h1>About Page</h1>
  <p>We are DevMatch. Our company focuses on creating an exclusive community 
  developers and entrepreneurs to meet.<br> Lorem ipsum dolor sit amet,
  consectetur adipisicing elit. Illo ipsam, sunt ea voluptates!<br> 
  Aspernatur eaque harum fugiat itaque officiis nobis explicabo numquam,<br>
  expedita quisquam suscipit necessitatibus perferendis a exercitationem tempora!<br>
  </p>
</div>